body {
  background-color: rgba(215, 210, 152, 0.53);
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background-color: #5f514c;
}

#main {
  display: inline-block;
  margin-left: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  background: linear-gradient(to right, #00c9ff, #92fe9d, #ff99cc);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav li {
  display: inline;
  color: white;
}

li a {
  color: white;
  font-size: 30px;
  padding: 56px;
  text-decoration: none;
  transition: color 0.3s ease;
}
#navbar {
  text-align: left;
}

li a:hover {
  color: #ffd700;
}

p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.8;
}

#heading {
  display: inline-block;
  margin-left: 650px;
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  background: linear-gradient(to right, #00b09b, #96c93d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
}

.skills-list li {
  background: #5f514c53;
  padding: 10px;
  border: 1px solid #eaf369;
  text-align: center;
  border-radius: 22px;
  font-weight: bold;
}
